* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.search-section {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.search-section .container {
    width: 50%;
    margin-right: 10px;
}

.search-section input[type="text"] {
    width: 100%;
    outline: none;
}

#dropdown {
    border: 2px solid white;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;    
    flex-wrap: wrap;
    position: absolute;
    z-index: 9999;
    background-color: white;
}

#dropdown .gif {
    border: none;
}

.pick-section {
    margin-top: 20px;
    width: 40%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pick-section label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.gif {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    height: 100%;
}

.gif .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}